:root {
  --color-light-font: rgb(217 225 250);
  --color-dark-font: rgb(170, 178, 207);
  --color-header: rgb(68 77 94);
  --color-main: rgb(46 52 64);
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(217 225 250);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-header);
  color: rgb(162 201 253);
}

h1 {
  font-size: 45px;
  margin: 0.5rem;
}

header > svg {
  height: 3rem;
  position: absolute;
  right: 1rem;
  fill: currentColor;
}
#taskHeaderSection {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-light-font);
  padding: 1rem;
}

#taskHeader {
  margin: 0px;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--color-main);
}

nav {
  min-width: 300px;
  max-width: 600px;
  background-color: rgb(55 62 77);
  padding: 2rem;
}

#taskFilters {
  list-style: none;
  padding: 0px;
  font-size: 1.3rem;
}

#taskFilters li {
  margin-bottom: 3px;
  cursor: pointer;
}

#add-project,
#add-task,
#project-submit,
#project-cancel,
#task-submit,
#task-cancel {
  background-color: var(--color-header);
  color: var(--color-light-font);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

#projects-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-light-font);
}
#projectList {
  list-style: none;
  padding: 0px;
}

.projectElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.projectButtons {
  display: flex;
  align-items: center;
}

.projectEditButton {
  margin-bottom: 4px;
}

.projectDeleteButton {
}

#editProjectForm input {
  width: 12rem;
  padding: 0.3rem;
}

#editProjectButtons > button {
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

#tasks {
  padding: 2rem;
}

.taskElement {
  border: 1px solid var(--color-light-font);
  border-radius: 4px;
  margin-top: 1rem;
}

.mainTaskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainTaskContent > h3 {
  margin: 0px;
}

.taskElementLeftSide {
  display: flex;
  align-items: center;
  position: relative;
}
.taskElementLeftSide > button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1000px;
  margin: 1rem;
}

.taskElementRightSide {
  display: flex;
  align-items: center;
}

.taskEditButton,
.taskDeleteButton,
.projectEditButton,
.projectDeleteButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.taskEditButton {
  margin-bottom: 3px;
}

.taskElementRightSide svg,
.projectButtons svg {
  fill: var(--color-light-font);
  width: 100%;
  height: 100%;
}

[data-task-complete="false"] {
  border: 2px solid var(--color-light-font);
  background-color: var(--color-header);
}

[data-task-complete="true"] {
  border: 2px solid var(--color-dark-font);
  background-color: var(--color-main);
}

.taskNote {
  margin: 0 1rem 1rem 3.5rem;
}

.priorityIcon {
  display: none;
}

.priorityIcon.true {
  display: block;
  position: absolute;
  fill: gold;
  left: -13px;
  top: 5px;
  height: 1.2rem;
}

section {
  flex-grow: 2;
}

footer {
  background-color: rgb(68 77 94);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(217 225 250);
}
footer p {
  font-size: 1.2rem;
}

#odin-logo {
  height: 1.4rem;
  margin: 0.5rem;
  fill: rgb(217 225 250);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
