#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(217 225 250);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(68 77 94);
  color: rgb(162 201 253);
}

h1 {
  font: 45px;
}

header > svg {
  height: 3rem;
  position: absolute;
  right: 1rem;
  fill: currentColor;
}

main {
  display: flex;
  height: 100%;
  background-color: rgb(46 52 64);
}

nav {
  flex-grow: 1;
  max-width: 600px;
  background-color: rgb(55 62 77);
  padding: 2rem;
}

#projects-section {
  display: flex;
  justify-content: space-around;
}

section {
  flex-grow: 2;
}

footer {
  background-color: rgb(68 77 94);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(217 225 250);
}
footer p {
  font-size: 1.2rem;
}

#odin-logo {
  height: 1.4rem;
  margin: 0.5rem;
  fill: rgb(217 225 250);
}

.hidden {
  display: none;
}
